<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 footer-navigation">
                <h3><a href="/"><strong>R</strong>esu<strong>M</strong>ake</a></h3>
                <p class="links"><a href="/">Home</a><strong> · </strong><a href="#">Blog</a><strong> · </strong><a href="#">Contact us</a></p>
                <p class="company-name">ResuMake © 2017 </p>
            </div>
            <div class="col-md-4 col-sm-6 footer-contacts">
                <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                    <p>ABV-IIITM Gwalior MP India</p>
                </div>
                <div><i class="fa fa-phone footer-contacts-icon"></i>
                    <p class="footer-center-info email text-left"> +918959682938</p>
                </div>
                <div><a href="mailto:abhinava.srirajan@gmail.com"><i class="fa fa-envelope footer-contacts-icon"></i>
                    <p>abhinava.srirajan@gmail.com </p></a>
                </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-4 footer-about">
                <h4>About the company</h4>
                <p>We center our efforts on providing THE BEST RESULTS to our users, with only one thing in mind:&nbsp;<strong>to help them get a job</strong>.. </p>
                <div class="social-links social-icons"><a href="https://www.facebook.com/abhinav.sanga" target="_blank"><i class="fa fa-facebook"></i></a><a href="https://twitter.com/AbhinavSanga" target="_blank"><i class="fa fa-twitter"></i></a><a href="https://www.linkedin.com/in/abhinav-sanga-21a285129/" target="_blank"><i class="fa fa-linkedin"></i></a><a target="_blank" href="https://github.com/abhinav-sanga"><i class="fa fa-github"></i></a></div>
            </div>
        </div>
    </div>
</footer>