<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResuMake</title>
    
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="stylesheets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/fonts/material-icons.css">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/Pretty-Footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/css/lightbox.min.css">
    <link rel="stylesheet" href="stylesheets/Pretty-Registration-Form.css">
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand navbar-link" href="https://resumake-0515.herokuapp.com/"><img src="images/logo.jpg" id="logo"><strong>R</strong>esu<strong>M</strong>ake </a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    <li role="presentation"><a href="https://resumake-0515.herokuapp.com/">Blog </a></li>
                    <li role="presentation"><a href="#">Help </a></li>
                    <li role="presentation" ng-hide='signinForm.$submitted || signupForm.$submitted'><a data-toggle='modal' href="#" data-target='#modal1'>Log In/Sign Up</a></li>
                    <li role="presentation"><a href="#">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="tabel">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-1" role="tab" data-toggle="tab">Contact Info</a></li>
            <li><a href="#tab-2" role="tab" data-toggle="tab">Work Experience</a></li>
            <li><a href="#tab-3" role="tab" data-toggle="tab">Education </a></li>
            <li><a href="#tab-4" role="tab" data-toggle="tab">Additional Skills</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" role="tabpanel" id="tab-1">
                <div class="row register-form">
                    <div class="col-md-8 col-md-offset-2">
                        <form action="/detailsSaved" method="post" class="form-horizontal custom-form">
                            <h1>Contact Info</h1>
                            <div class="form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="control-label" for="name-input-field">First Name </label>
                                </div>
                                <div class="col-sm-6 input-column">
                                    <input class="form-control" type="text" name="firstName" ng-model="formModel.firstName">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="control-label" for="name-input-field">Last Name </label>
                                </div>
                                <div class="col-sm-6 input-column">
                                    <input class="form-control" type="text" name="lastName" ng-model="formModel.lastName">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="control-label" for="name-input-field">Country </label>
                                </div>
                                <div class="col-sm-6 input-column">
                                    <input class="form-control" type="text" name="country" ng-model="formModel.country">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="control-label" for="name-input-field">Zip </label>
                                </div>
                                <div class="col-sm-6 input-column">
                                    <input class="form-control" type="text" name="zipCode" ng-model="formModel.zipCode">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="control-label" for="name-input-field">City </label>
                                </div>
                                <div class="col-sm-6 input-column">
                                    <input class="form-control" type="text" name="cityName" ng-model="formModel.cityName">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="control-label" for="name-input-field">State/Province </label>
                                </div>
                                <div class="col-sm-6 input-column">
                                    <input class="form-control" type="text" name="stateName" ng-model="formModel.stateName">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="control-label" for="name-input-field">Address Line 1</label>
                                </div>
                                <div class="col-sm-6 input-column">
                                    <input class="form-control" type="text" name="address1" ng-model="formModel.address1">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="control-label" for="name-input-field">Address Line 2</label>
                                </div>
                                <div class="col-sm-6 input-column">
                                    <input class="form-control" type="text" name="address2" ng-model="formModel.address2">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="control-label" for="email-input-field">Email </label>
                                </div>
                                <div class="col-sm-6 input-column">
                                    <input class="form-control" type="email" name="email" ng-model="formModel.email">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="control-label" for="name-input-field">Phone </label>
                                </div>
                                <div class="col-sm-6 input-column">
                                    <input class="form-control" type="text" name="phone" ng-model="formModel.phone">
                                </div>
                            </div>
                            <button class="btn btn-primary button" type="button" href="https://resumake-0515.herokuapp.com/design#tab-2" ng-click="onSubmit()">Save &amp; Continue </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane" role="tabpanel" id="tab-2">
                <div class="row register-form">
                    <div class="col-md-8 col-md-offset-2">
                        <form class="form-horizontal custom-form">
                            <h1>Employer Information</h1>
                            <div class="form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="control-label" for="name-input-field">Employer Name</label>
                                </div>
                                <div class="col-md-offset-0 col-sm-6 input-column">
                                    <input class="form-control" type="text" name="employerName" ng-model="formModel.employerName">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="control-label" for="name-input-field">Industry </label>
                                </div>
                                <div class="col-sm-6 input-column">
                                    <input class="form-control" type="text" name="industry" ng-model="formModel.industry">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="control-label" for="name-input-field">City </label>
                                </div>
                                <div class="col-sm-6 input-column">
                                    <input class="form-control" type="text" name="employerCity" ng-model="formModel.employerCity">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="control-label" for="name-input-field">Country </label>
                                </div>
                                <div class="col-sm-6 input-column">
                                    <input class="form-control" type="text" name="employerCountry" ng-model="formModel.employerCountry">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="control-label" for="name-input-field">State/Province </label>
                                </div>
                                <div class="col-sm-6 input-column">
                                    <input class="form-control" type="text" name="employerState" ng-model="formModel.employerState">
                                </div>
                            </div><button class="btn btn-primary button" type="button" ng-click="onSubmit()">Save &amp; Continue </button></form>
                        <form class="form-horizontal custom-form">
                            <h1>Position Information</h1>
                            <div class="form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="control-label" for="name-input-field">Position Title</label>
                                </div>
                                <div class="col-sm-6 input-column">
                                    <input class="form-control" type="text" name="positionTitle" ng-model="formModel.positionTitle">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="control-label" for="name-input-field">Start date</label>
                                </div>
                                <div class="col-sm-6 input-column">
                                    <input class="form-control" type="date" name="startDate" ng-model="formModel.startDate">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="control-label" for="name-input-field">Still work here?</label>
                                </div>
                                <div class="col-sm-6 input-column">
                                    <div class="radio radio-inline" name="inWork" ng-model="formModel.inWork">
                                        <label class="control-label">
                                            <input type="radio" class="rad">Yes</label>
                                    </div>
                                    <div class="radio radio-inline">
                                        <label class="control-label">
                                            <input type="radio" class="rad">No</label>
                                    </div>
                                </div>
                            </div><button class="btn btn-primary button" type="button" href="https://resumake-0515.herokuapp.com/design#tab-3" ng-click="onSubmit()">Save &amp; Continue </button></form>
                    </div>
                </div>
            </div>
            <div class="tab-pane" role="tabpanel" id="tab-3">
                <div class="row register-form">
                    <div class="col-md-8 col-md-offset-2">
                        <form class="form-horizontal custom-form">
                            <h1>Education </h1>
                            <div class="form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="control-label" for="name-input-field">School Name </label>
                                </div>
                                <div class="col-sm-6 input-column">
                                    <input class="form-control" type="text" name="schoolName" ng-model="formModel.schoolName">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="control-label" for="name-input-field">City </label>
                                </div>
                                <div class="col-sm-6 input-column">
                                    <input class="form-control" type="text"  name="schoolCity" ng-model="formModel.schoolCity">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="control-label" for="name-input-field">Country </label>
                                </div>
                                <div class="col-sm-6 input-column">
                                    <input class="form-control" type="text" name="schoolCountry" ng-model="formModel.schoolCountry">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="control-label" for="name-input-field">State/Province </label>
                                </div>
                                <div class="col-sm-6 input-column">
                                    <input class="form-control" type="text" name="schoolState" ng-model="formModel.schoolState">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="control-label" for="name-input-field">Still in school?</label>
                                </div>
                                <div class="col-sm-6 input-column">
                                    <select class="form-control" name="inSchool" ng-model="formModel.inSchool">
                                        <optgroup>
                                            <option value="12" selected>N/A</option>
                                            <option value="13">Yes</option>
                                            <option value="14">No</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div><button class="btn btn-primary button" type="button" href="https://resumake-0515.herokuapp.com/design#tab-4" ng-click="onSubmit()">Save &amp; Continue </button></form>
                    </div>
                </div>
            </div>
            <div class="tab-pane" role="tabpanel" id="tab-4">
                <div class="row register-form">
                    <div class="col-md-8 col-md-offset-2">
                        <form class="form-horizontal custom-form">
                            <h1>Your Skills</h1>
                            <div class="form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="control-label" for="name-input-field">Write your own information (Optional)</label>
                                </div>
                                <div class="col-sm-7 input-column">
                                    <textarea class="form-control" placeholder="Enter your additional skills in individual points." id="txtarea" rows="7" columns="8" name="addiSkills" ng-model="formModel.xtraskills"></textarea>
                                </div>
                            </div><button class="btn btn-primary button" type="button">Save &amp; Continue </button></form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 footer-navigation">
                    <h3><a href="https://resumake-0515.herokuapp.com/"><strong>R</strong>esu<strong>M</strong>ake</a></h3>
                    <p class="links"><a href="https://resumake-0515.herokuapp.com/">Home</a><strong> · </strong><a href="#">Blog</a><strong> · </strong><a href="#">Contact us</a></p>
                    <p class="company-name">ResuMake © 2017 </p>
                </div>
                <div class="col-md-4 col-sm-6 footer-contacts">
                    <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                        <p>ABV-IIITM Gwalior MP India</p>
                    </div>
                    <div><i class="fa fa-phone footer-contacts-icon"></i>
                        <p class="footer-center-info email text-left"> +918959682938</p>
                    </div>
                    <div><i class="fa fa-envelope footer-contacts-icon"></i>
                        <p>abhinava.srirajan@gmail.com </p>
                    </div>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-md-4 footer-about">
                    <h4>About the company</h4>
                    <p>We center our efforts on providing THE BEST RESULTS to our users, with only one thing in mind:&nbsp;<strong>to help them get a job</strong>.. </p>
                    <div class="social-links social-icons"><a target="_blank" href="https://www.facebook.com/abhinav.sanga"><i class="fa fa-facebook"></i></a><a href="https://twitter.com/AbhinavSanga" target="_blank"><i class="fa fa-twitter"></i></a><a href="https://www.linkedin.com/in/abhinav-sanga-21a285129/" target="_blank"><i class="fa fa-linkedin"></i></a><a target="_blank" href="https://github.com/abhinav-sanga"><i class="fa fa-github"></i></a></div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Modal -->
<div role="dialog" tabindex="-1" class="modal fade" id="modal1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="text-center modal-title">User Authentication</h4></div>
            <div class="modal-body">
                <div>
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#logintab-1" role="tab" data-toggle="tab">Sign In</a></li>
                        <li><a href="#logintab-2" role="tab" data-toggle="tab">Sign Up</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" role="tabpanel" id="logintab-1">
                            <form name='siginForm' method="post" action="/users/login" novalidate>
                                <input class="input-lg mbi form-control" type="email" placeholder="Email">
                                <input class="input-lg mbi form-control" type="password" placeholder="Password">
                                <p class="mfi">Don't have an account? <strong>Sign Up</strong></p>
                                <div class="modaldiv">
                                    <button class="btn btn-default mfib" type="button" data-dismiss="modal">Close</button>
                                    <button class="btn btn-primary mfib" type="submit">Sign In</button>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="logintab-2">
                            <form name='sigupForm' method="post" action="/users/signup" novalidate>
                                <input class="input-lg mbi form-control" type="text" placeholder="Username" name="userrname">
                                <input class="input-lg mbi form-control" type="email" placeholder="Email" name="eemail">
                                <input class="input-lg mbi form-control" type="password" placeholder="Password" name="paassword">
                                <input class="input-lg mbi form-control" type="password" placeholder="Confirm Password" name="paassword2">
                                <p class="mfi">Already have an account? <strong>Login</strong></p>
                                <div class="modaldiv">
                                    <button class="btn btn-default mfib" type="button" data-dismiss="modal">Close</button>
                                    <button class="btn btn-primary mfib" type="submit">Create Account</button>
                                </div>
                            </form>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->

    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/js/lightbox-plus-jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="text/javascript" src="javascripts/ang.js"></script>
    <script src="javascripts/modal.js"></script>
</body>

</html>