<div id="promo">
    <div class="jumbotron">
        <h1>Create your professional resumé</h1>
        <p><a class="btn btn-info btn-lg" role="button" href="/user/design">Create a design</a></p>
    </div>
</div>
<div class="container site-section" id="welcome">
    <h2>Welcome to <strong>R</strong>esu<strong>M</strong>ake</h2>
    <p>We designed a resume builder for free that allows you to enter everything from your education and work experience to additional skills and other accomplishments so you can demonstrate your value to employers. You can also modify, preview and save
        drafts of your documents using our resume builder so that you can edit your resume depending on the job or position you are applying for. Our resume builder includes a built-in repository of expertise including helpful examples and tips that
        will turn you into a veritable resume maker. Once you're done entering your information, you will have the option to choose from several professional templates. </p>
</div>
<div class="dark-section">
    <div class="container site-section" id="why">
        <h2>How the&nbsp;Resume Builder Works </h2>
        <div class="row">
            <div class="col-md-4 item"><i class="material-icons">timer</i>
                <h2>Faster </h2>
                <p>The fastest way to make a free professional resume. </p>
            </div>
            <div class="col-md-4 item"><i class="fa fa-gears"></i>
                <h2>Simpler</h2>
                <p>No writing experience? No problem! Just point, click, and create. </p>
            </div>
            <div class="col-md-4 item"><i class="material-icons">work</i>
                <h2>Professional </h2>
                <p>Our HR-approved resume templates will get you more callbacks. </p>
            </div>
        </div>
    </div>
</div>
<div class="container site-section tempdiv" id="welcome">
    <h2>Templates </h2>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="images/1387.jpg" target="_blank" data-lightbox="cvs"><img class="img-responsive" src="images/1387.jpg"></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="images/OTBT2R0.jpg" target="_blank" data-lightbox="cvs"><img class="img-responsive" src="images/OTBT2R0.jpg"></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="images/Curriculum vitae template2-01.jpg" target="_blank" data-lightbox="cvs"><img class="img-responsive" src="images/Curriculum vitae template2-01.jpg"></a>
            </div>
        </div>
    </div>
</div>